.app {
    height: 100vh;
    min-height: 500px;
    display: flex;
}

.sidebar-menu {    
    background-color: red;
    width: 280px;
    transition: width 0.3s linear;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    min-height: 80px;
    background-color: blue;
}

.content {
    flex: 1;
    background-color: green;
}

.mn {
    
    background-color: gray;
}

.top {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.icon {
    min-height: 35px;
    min-width: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.icon-txt {
    flex: 1;
    background-color: red;
}

.middle {
    background-color: white;
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bottom {
    flex: 1;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bt {
    height: 50px;
    margin: 10px 10px 10px 10px;
    background-color: yellow;
}

@media only screen and (max-width: 600px) {
    .sidebar-menu {
        width: 100px;
    }
}
