@-moz-keyframes ring {
    0% {-moz-transform: rotate(0deg);}
    33% {-moz-transform: rotate(-30deg);}
    66% {-moz-transform: rotate(30deg);}
    100% {-moz-transform: rotate(0deg);}
}
@-webkit-keyframes ring {
    0% {-webkit-transform: rotate(0deg);}
    33% {-webkit-transform: rotate(-30deg);}
    66% {-webkit-transform: rotate(30deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@keyframes ring {
    0% {transform: rotate(0deg);}
    33% {transform: rotate(-30deg);}
    66% {transform: rotate(30deg);}
    100% {transform: rotate(0deg);}
}


.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--header_min_height);
    background-color: var(--menu_color);
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-menu .notif {
    margin: 0 20px 0 20px;
}

.header-menu .notif:hover {
    animation: ring;
    animation-duration: 0.2s;
}