.sidebar-menu {
    background: var(--menu_color);
    width: var(--sidebar_expanded_width);
    height: 100%;
    min-height: 600px;
    position: absolute;
    transition: var(--tran_animation_03s);
}

.sidebar-header {
    margin: 20px 0px 50px 13px;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.2rem;
    white-space: nowrap;
}

.hd-text {
    opacity: 1;
    transition: var(--tran_animation_05s);
    overflow-x: hidden;
}

.hd-text.hidden {
    width: 0;
    opacity: 0;
}

.ft-text {
    opacity: 1;
    transition: var(--tran_animation_05s);
    overflow-x: hidden;
}

.ft-text.hidden {
    width: 0;
    opacity: 0;
}

.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: var(--primary_color);
    width: 55px;
    height: 55px;
    min-width: 55px;
    color: white;
    border-radius: 16px;
}

.sidebar-menu .logout {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 13px; 
    bottom: 5%;
}

.sidebar-menu.compact {
    width: var(--sidebar_collapsed_width);
}