.sidebar-menu {
    background: var(--menu_color);
    width: var(--sidebar_expanded_width);
    height: 100%;
    min-height: 600px;
    position: absolute;
    opacity: 1;
    transition: width var(--sidebar_animation_speed) ease-in-out;
}

.sidebar-header {
    margin: 20px 0px 50px 13px;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.2rem;
}

.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: var(--primary_color);
    width: 55px;
    height: 55px;
    min-width: 55px;
    color: white;
    border-radius: 16px;
}

.sidebar-menu .logout {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 13px; 
    bottom: 5%;
}

.sidebar-menu.compact {
    width: var(--sidebar_collapsed_width);
}