.sidebar-menu {
    background: var(--menu_color);
    width: var(--sidebar_expanded_width);
    min-width: var(--sidebar_collapsed_width);
    transition: var(--tran_width);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sidebar-header {
    margin: 0px 0px 0px 13px;
    min-height: var(--header_min_height);
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    white-space: nowrap;
}

.hd-text, .ft-text {
    opacity: 1;
    transition: var(--tran_opacity);
    overflow-x: hidden;
}

.hd-text.hidden, .ft-text.hidden {
    width: 0;
    opacity: 0;
}


.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: var(--primary_color);
    width: 55px;
    height: 55px;
    min-width: 55px;
    color: white;
    border-radius: 16px;
}

.sidebar-items {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.sidebar-footer {
    min-height: var(--header_min_height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sidebar-menu .logout {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 13px; 
    bottom: 5%;
}

.sidebar-menu .logout:hover {
    color: red;
}

.sidebar-menu.compact {
    width: var(--sidebar_collapsed_width);
}

