@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  --menu_color: white;
  --primary_color: orange;
  --primary_color_hover: rgba(255, 166, 0, 0.8);
  --background_color: rgb(239, 234, 234);
  --sidebar_expanded_width: 280px;
  --sidebar_collapsed_width: 80px;
  --sidebar_animation_speed: 0.5s;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background_color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vertical-centered {
  display: flex;
  align-items: center;
}

.scrollable {
  overflow-y: scroll;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
