.menu-btn {
    display: flex;
    flex: wrap;
    justify-content: flex-start;
    margin: 12.5px 0px 10px 12.5px;
    border-radius: 16px 16px 16px 16px; 
    width: 90%;
    height: 60px;
    transition: background-color 0.2s ease-in;
    font-size: 0.95rem;
}

.menu-btn:hover {
    background-color: var(--primary_color_hover);
    color: white;
}

.menu-icon {
    /* font-size: 36px;
    font-variation-settings: 'wght' 100, 'opsz' 36, 'FILL' 1; */
    padding: 0 20px 0 10px;
}

.menu-icon:hover {
    font-variation-settings: 'FILL' 1;
}

.active {
    background-color: var(--primary_color);
    color: white;
}


