.menu-btn {
    display: flex;
    flex: wrap;
    justify-content: flex-start;
    margin: 12.5px 0px 10px 12.5px;
    border-radius: 16px 16px 16px 16px; 
    width: 90%;
    height: var(--sidebar_icon_size);
    min-height: var(--sidebar_icon_size);
    transition: var(--tran_back_color), var(--tran_width);
    font-size: 0.95rem;
}

.menu-btn.compact {
    width: var(--sidebar_icon_size);
}

.menu-btn:hover {
    background-color: var(--primary_color_hover);
    color: white;
}

.menu-icon {
    width: var(--sidebar_icon_size);
    padding: 0 20px 0 10px;
}

.menu-icon:hover {
    font-variation-settings: 'FILL' 1;
}

.menu-btn .bt-txt {
    transition: opacity 0.5s linear;
    overflow-x: hidden;
    white-space: nowrap;
}

.menu-btn .bt-txt.hidden {
    width: 0;
    opacity: 0;
}

.active {
    background-color: var(--primary_color);
    color: white;
}


