.bt-sm {
    position: absolute;
    top: 25px;
    right: -15px;
    background-color: var(--menu_color);
    border-radius: 20px;
    transition: var(--tran_transform), var(--tran_back_color);
}

.bt-sm:hover {
    background-color: var(--primary_color);
    color: white;
}

.rotate {
    transform: rotate(180deg);
}